<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">BreatherScraper</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger scrape-new mx-5">SCRAPE NEW Articles!</a>
            </li>
            <li class="nav-item">
                <a id="clear" class="btn btn-danger clear">CLEAR Articles!</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron text-center">
        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
        <div class="caption">
            <h1>BreatherScraper</h1>
            <h3>Articles</h3>
        </div>
    </div>
    <div class="container-fluid review-container">
        {{#if review}}
        {{#each review}}
        <div class="card">
            <div class="card-header bg-primary">
                <h3><a class="review-link text-white" target="_blank" rel="noopener noreferrer" href="https://thehimalayantimes.com/{{this.link}}">{{this.title}}</a><a
                        class="btn btn-success save float-right" data-id={{this._id}}>Save
                        Articles</a></h3>
            </div>
            <div class="card-body">{{this.brief}}</div>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div id="noreview" class="alert alert-warning text-center">
                <h4>No Articles</h4>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header text-center">
                <h3>Click Scrape to get more Articles</h3>
            </div>
            <div class="card-body text-center">
                <h4><a href="#" class="scrape-new">New Article</a></h4>
                <h4><a href="/saved">Saved Article</a></h4>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>The Himalayan Times News</p>
    </div>
</footer>