<nav class="navbar navbar-expand-lg navbar-dark backy">
    <a class="navbar-brand" href="/">BreatherScraper</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn button scrape-new mx-5">SCRAPE New Articles!</a>
            </li>
            <li class="nav-item">
                <a id="clear" class="btn button clear">CLEAR Articles!</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class= "text-center bg-white">
        <h1>BreatherScraper</h1>
        <h3>Articles</h3>
    </div>
    <div class="container-fluid article-container">
        {{#if article}}
        {{#each article}}
        <div class="card">
            <div class="card-header backy">
                <h3><a class="article-link text-white" target="_blank" rel="noopener noreferrer" href="{{this.link}}">{{this.title}}</a><a
                        class="btn btn-success save float-right" data-id={{this._id}}>Save
                        Articles</a></h3>
            </div>
            <div class="card-body">{{this.description}}</div>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div id="noarticle" class="alert alert-warning text-center">
                <h4>No Articles</h4>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header text-center">
                <h3>Scrape</h3>
            </div>
            <div class="card-body text-center">
                <h4><a href="#" class="scrape-new">Scrape Article</a></h4>
                <h4><a href="/saved">Saved Article</a></h4>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>The Himalayan Times News</p>
    </div>
</footer>