<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">BreatherScraper</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved">Saved Reviews
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger scrape-new mx-5">SCRAPE NEW REVIEWS!</a>
            </li>
            <li class="nav-item">
                <a id="clear" class="btn btn-danger clear">CLEAR REVIEWS!</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron text-center">
        <div class="overlay">
        </div>
        <div class="background-image">
        </div>
        <div class="caption">
            <h1>BreatherScraper</h1>
            <h3>CNET Tech Reviews!</h3>
        </div>
    </div>
    <div class="container-fluid review-container">
        {{#if review}}
        {{#each review}}
        <div class="card">
            <div class="card-header bg-primary">
                <h3><a class="review-link text-white" target="_blank" rel="noopener noreferrer" href="https://www.cnet.com{{this.link}}">{{this.title}}</a>
                    <a class="btn btn-danger delete float-right" data-id={{this._id}}>Delete Review</a>
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-success noteadd float-right mr-5" data-toggle="modal"
                        data-target="#noteModal{{this._id}}" data-id={{this._id}}>Note</button>
                </h3>
            </div>
            <div class="card-body">{{this.brief}}</div>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div id="noreview" class="alert alert-warning text-center">
                <h4>No Reviews</h4>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header text-center">
                <h3></h3>
            </div>
            <div class="card-body text-center">
                <h4><a href="/">Browse Reviews</a></h4>
            </div>
        </div>
    </div>
</div>
<!--Modal for notes-->
{{#each review}}
{{> notes-modal }}
{{/each}}
<footer class="footer">
    <div class="container">
        <p>CNET Tech Reviews</p>
    </div>
</footer>